In [79]:
import pandas as pd
import numpy as np
import random

In [80]:
df = pd.read_csv('datakecminim.csv')

In [81]:
print(df.head())

           DIAJUKAN_DI    KAB_KOTA   KECAMATAN KODE_CIDERA     PROFESI  \
0      PERWAKILAN PATI        PATI        PATI          LL  WIRASWASTA
1  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          MD  WIRASWASTA
2  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          LL  WIRASWASTA
3  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          MD   TNI POLRI
4  PERWAKILAN MAGELANG  TEMANGGUNG  TEMANGGUNG          MD  WIRASWASTA

   TANGGAL  BULAN  TAHUN    JAM       KARAKTERISTIK LAKA
0        2      1   2023   6:30           BERUNTUN/GANDA
1        7      1   2023  21:00              DEPAN-DEPAN
2        7      1   2023  21:00  PEJALAN-KAKI/SEJENISNYA
3       20      1   2023   5:00            DEPAN-SAMPING
4       24      1   2023   2:30              DEPAN-DEPAN

In [82]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36055 entries, 0 to 36054
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DIAJUKAN_DI         36055 non-null  object
 1   KAB_KOTA            35991 non-null  object
 2   KECAMATAN           30990 non-null  object
 3   KODE_CIDERA         36055 non-null  object
 4   PROFESI             36055 non-null  object
 5   TANGGAL             36055 non-null  int64
 6   BULAN               36055 non-null  int64
 7   TAHUN               36055 non-null  int64
 8   JAM                 36055 non-null  object
 9   KARAKTERISTIK LAKA  36055 non-null  object
dtypes: int64(3), object(7)
memory usage: 2.8+ MB
None

In [83]:
print(df.isnull().sum())

DIAJUKAN_DI              0
KAB_KOTA                64
KECAMATAN             5065
KODE_CIDERA              0
PROFESI                  0
TANGGAL                  0
BULAN                    0
TAHUN                    0
JAM                      0
KARAKTERISTIK LAKA       0
dtype: int64

In [84]:
df = df.dropna()

In [85]:
df['DATE_TIME'] = pd.to_datetime(df[['TAHUN', 'BULAN', 'TANGGAL']].astype(str).agg('-'.join, axis=1) + ' ' + df['JAM'])
df = df.drop(['TANGGAL', 'BULAN', 'TAHUN', 'JAM'], axis=1)  

print(df.head())

           DIAJUKAN_DI    KAB_KOTA   KECAMATAN KODE_CIDERA     PROFESI  \
0      PERWAKILAN PATI        PATI        PATI          LL  WIRASWASTA
1  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          MD  WIRASWASTA
2  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          LL  WIRASWASTA
3  PERWAKILAN MAGELANG    WONOSOBO    WONOSOBO          MD   TNI POLRI
4  PERWAKILAN MAGELANG  TEMANGGUNG  TEMANGGUNG          MD  WIRASWASTA

        KARAKTERISTIK LAKA           DATE_TIME
0           BERUNTUN/GANDA 2023-01-02 06:30:00
1              DEPAN-DEPAN 2023-01-07 21:00:00
2  PEJALAN-KAKI/SEJENISNYA 2023-01-07 21:00:00
3            DEPAN-SAMPING 2023-01-20 05:00:00
4              DEPAN-DEPAN 2023-01-24 02:30:00

In [86]:

df['KARAKTERISTIK LAKA'] = df['KARAKTERISTIK LAKA'].str.strip()

In [87]:
df['KODE_CIDERA'] = df['KODE_CIDERA'].replace({'LL': 'LUKA-LUKA', 'MD': 'MENINGGAL DUNIA', 'CT':'CEDERA RINGAN', 'PG':'PATAH TULANG'})

In [88]:
df['KAB_KOTA'] = df['KAB_KOTA'].str.strip()
df['KECAMATAN'] = df['KECAMATAN'].str.strip()

print(df)

               DIAJUKAN_DI                     KAB_KOTA  \
0          PERWAKILAN PATI                         PATI
1      PERWAKILAN MAGELANG                     WONOSOBO
2      PERWAKILAN MAGELANG                     WONOSOBO
3      PERWAKILAN MAGELANG                     WONOSOBO
4      PERWAKILAN MAGELANG                   TEMANGGUNG
...                    ...                          ...
36050      PERWAKILAN PATI                        BLORA
36051          KPJR KLATEN                       KLATEN
36052          KPJR WANGON    SATLANTAS METRO JAK BARAT
36053           KPJR DEMAK               KOTA  SEMARANG
36054           KPJR TEGAL  SATLANTAS METRO JAK SELATAN

                         KECAMATAN      KODE_CIDERA           PROFESI  \
0                             PATI        LUKA-LUKA        WIRASWASTA
1                         WONOSOBO  MENINGGAL DUNIA        WIRASWASTA
2                         WONOSOBO        LUKA-LUKA        WIRASWASTA
3                         WONOSOBO  MENINGGAL DUNIA         TNI POLRI
4                       TEMANGGUNG  MENINGGAL DUNIA        WIRASWASTA
...                            ...              ...               ...
36050                        BLORA        LUKA-LUKA      BURUH PETANI
36051                       KLATEN        LUKA-LUKA  IBU RUMAH TANGGA
36052    SATLANTAS METRO JAK BARAT  MENINGGAL DUNIA      BURUH PETANI
36053               KOTA  SEMARANG        LUKA-LUKA        WIRASWASTA
36054  SATLANTAS METRO JAK SELATAN  MENINGGAL DUNIA         LAIN LAIN

            KARAKTERISTIK LAKA           DATE_TIME
0               BERUNTUN/GANDA 2023-01-02 06:30:00
1                  DEPAN-DEPAN 2023-01-07 21:00:00
2      PEJALAN-KAKI/SEJENISNYA 2023-01-07 21:00:00
3                DEPAN-SAMPING 2023-01-20 05:00:00
4                  DEPAN-DEPAN 2023-01-24 02:30:00
...                        ...                 ...
36050              DEPAN-DEPAN 2024-04-11 14:30:00
36051            DEPAN-SAMPING 2024-04-12 10:00:00
36052           DEPAN-BELAKANG 2024-04-29 03:12:00
36053          SAMPING-SAMPING 2024-04-06 11:30:00
36054  PEJALAN-KAKI/SEJENISNYA 2024-04-27 04:10:00

[30981 rows x 7 columns]

In [89]:
df['JENIS_KENDARAAN'] = [random.choice(['MOBIL', 'MOTOR']) for _ in range(len(df))]

print(df)

               DIAJUKAN_DI                     KAB_KOTA  \
0          PERWAKILAN PATI                         PATI
1      PERWAKILAN MAGELANG                     WONOSOBO
2      PERWAKILAN MAGELANG                     WONOSOBO
3      PERWAKILAN MAGELANG                     WONOSOBO
4      PERWAKILAN MAGELANG                   TEMANGGUNG
...                    ...                          ...
36050      PERWAKILAN PATI                        BLORA
36051          KPJR KLATEN                       KLATEN
36052          KPJR WANGON    SATLANTAS METRO JAK BARAT
36053           KPJR DEMAK               KOTA  SEMARANG
36054           KPJR TEGAL  SATLANTAS METRO JAK SELATAN

                         KECAMATAN      KODE_CIDERA           PROFESI  \
0                             PATI        LUKA-LUKA        WIRASWASTA
1                         WONOSOBO  MENINGGAL DUNIA        WIRASWASTA
2                         WONOSOBO        LUKA-LUKA        WIRASWASTA
3                         WONOSOBO  MENINGGAL DUNIA         TNI POLRI
4                       TEMANGGUNG  MENINGGAL DUNIA        WIRASWASTA
...                            ...              ...               ...
36050                        BLORA        LUKA-LUKA      BURUH PETANI
36051                       KLATEN        LUKA-LUKA  IBU RUMAH TANGGA
36052    SATLANTAS METRO JAK BARAT  MENINGGAL DUNIA      BURUH PETANI
36053               KOTA  SEMARANG        LUKA-LUKA        WIRASWASTA
36054  SATLANTAS METRO JAK SELATAN  MENINGGAL DUNIA         LAIN LAIN

            KARAKTERISTIK LAKA           DATE_TIME JENIS_KENDARAAN
0               BERUNTUN/GANDA 2023-01-02 06:30:00           MOTOR
1                  DEPAN-DEPAN 2023-01-07 21:00:00           MOTOR
2      PEJALAN-KAKI/SEJENISNYA 2023-01-07 21:00:00           MOBIL
3                DEPAN-SAMPING 2023-01-20 05:00:00           MOTOR
4                  DEPAN-DEPAN 2023-01-24 02:30:00           MOTOR
...                        ...                 ...             ...
36050              DEPAN-DEPAN 2024-04-11 14:30:00           MOTOR
36051            DEPAN-SAMPING 2024-04-12 10:00:00           MOBIL
36052           DEPAN-BELAKANG 2024-04-29 03:12:00           MOBIL
36053          SAMPING-SAMPING 2024-04-06 11:30:00           MOBIL
36054  PEJALAN-KAKI/SEJENISNYA 2024-04-27 04:10:00           MOTOR

[30981 rows x 8 columns]

In [90]:
kab_kota_jateng = [
    'BANJARNEGARA', 'BANYUMAS', 'BATANG', 'BLORA', 'BOYOLALI', 'BREBES', 'CILACAP', 
    'DEMAK', 'GROBOGAN', 'JEPARA', 'KARANGANYAR', 'KEBUMEN', 'KENDAL', 'KLATEN',
    'KUDUS', 'MAGELANG', 'PATI', 'PEKALONGAN', 'PEMALANG', 'PURBALINGGA', 
    'PURWOREJO', 'REMBANG', 'SUKOHARJO', 'TEGAL', 'TEMANGGUNG', 'WONOGIRI', 
    'WONOSOBO', 'SEMARANG', 'SURAKARTA', 'SALATIGA', 'TEGAL KOTA', 'MAGELANG KOTA',
    'SEMARANG KOTA', 'SEMARANG KABUPATEN', 'KOTA SURAKARTA'
]

In [91]:
df_filtered = df[df['KAB_KOTA'].isin(kab_kota_jateng)]

print(df_filtered)

                DIAJUKAN_DI        KAB_KOTA       KECAMATAN      KODE_CIDERA  \
0           PERWAKILAN PATI            PATI            PATI        LUKA-LUKA
1       PERWAKILAN MAGELANG        WONOSOBO        WONOSOBO  MENINGGAL DUNIA
2       PERWAKILAN MAGELANG        WONOSOBO        WONOSOBO        LUKA-LUKA
3       PERWAKILAN MAGELANG        WONOSOBO        WONOSOBO  MENINGGAL DUNIA
4       PERWAKILAN MAGELANG      TEMANGGUNG      TEMANGGUNG  MENINGGAL DUNIA
...                     ...             ...             ...              ...
36047           KPJR KLATEN          KLATEN          KLATEN  MENINGGAL DUNIA
36048  PERWAKILAN SURAKARTA  KOTA SURAKARTA  KOTA SURAKARTA  MENINGGAL DUNIA
36049   PERWAKILAN MAGELANG        MAGELANG        MAGELANG  MENINGGAL DUNIA
36050       PERWAKILAN PATI           BLORA           BLORA        LUKA-LUKA
36051           KPJR KLATEN          KLATEN          KLATEN        LUKA-LUKA

                 PROFESI       KARAKTERISTIK LAKA           DATE_TIME  \
0             WIRASWASTA           BERUNTUN/GANDA 2023-01-02 06:30:00
1             WIRASWASTA              DEPAN-DEPAN 2023-01-07 21:00:00
2             WIRASWASTA  PEJALAN-KAKI/SEJENISNYA 2023-01-07 21:00:00
3              TNI POLRI            DEPAN-SAMPING 2023-01-20 05:00:00
4             WIRASWASTA              DEPAN-DEPAN 2023-01-24 02:30:00
...                  ...                      ...                 ...
36047       BURUH PETANI  PEJALAN-KAKI/SEJENISNYA 2024-04-27 07:00:00
36048    KARYAWAN SWASTA  PEJALAN-KAKI/SEJENISNYA 2024-04-14 17:40:00
36049  PELAJAR MAHASISWA          SAMPING-SAMPING 2024-04-29 20:10:00
36050       BURUH PETANI              DEPAN-DEPAN 2024-04-11 14:30:00
36051   IBU RUMAH TANGGA            DEPAN-SAMPING 2024-04-12 10:00:00

      JENIS_KENDARAAN
0               MOTOR
1               MOTOR
2               MOBIL
3               MOTOR
4               MOTOR
...               ...
36047           MOBIL
36048           MOTOR
36049           MOTOR
36050           MOTOR
36051           MOBIL

[24134 rows x 8 columns]

In [92]:
df_filtered.to_csv('processed_data_laka.csv', index=False)

In [93]:
df = pd.read_csv('processed_data_laka.csv')
df.head()

,DIAJUKAN_DI,KAB_KOTA,KECAMATAN,KODE_CIDERA,PROFESI,KARAKTERISTIK LAKA,DATE_TIME,JENIS_KENDARAAN
0,PERWAKILAN PATI,PATI,PATI,LUKA-LUKA,WIRASWASTA,BERUNTUN/GANDA,2023-01-02 06:30:00,MOTOR
1,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,MENINGGAL DUNIA,WIRASWASTA,DEPAN-DEPAN,2023-01-07 21:00:00,MOTOR
2,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,LUKA-LUKA,WIRASWASTA,PEJALAN-KAKI/SEJENISNYA,2023-01-07 21:00:00,MOBIL
3,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,MENINGGAL DUNIA,TNI POLRI,DEPAN-SAMPING,2023-01-20 05:00:00,MOTOR
4,PERWAKILAN MAGELANG,TEMANGGUNG,TEMANGGUNG,MENINGGAL DUNIA,WIRASWASTA,DEPAN-DEPAN,2023-01-24 02:30:00,MOTOR

In [94]:
geo_data = {
    'BANJARNEGARA': {'latitude': -7.3962, 'longitude': 109.6993},
    'BANYUMAS': {'latitude': -7.5143, 'longitude': 109.2432},
    'BATANG': {'latitude': -6.9277, 'longitude': 109.7367},
    'BLORA': {'latitude': -6.9723, 'longitude': 111.4189},
    'BOYOLALI': {'latitude': -7.5286, 'longitude': 110.5962},
    'BREBES': {'latitude': -6.8705, 'longitude': 109.0322},
    'CILACAP': {'latitude': -7.7170, 'longitude': 109.0113},
    'TA CILACAP': {'latitude': -7.7170, 'longitude': 109.0113},
    'DEMAK': {'latitude': -6.8909, 'longitude': 110.6398},
    'GROBOGAN': {'latitude': -7.0883, 'longitude': 110.9203},
    'JEPARA': {'latitude': -6.5852, 'longitude': 110.6780},
    'KARANGANYAR': {'latitude': -7.6166, 'longitude': 110.9504},
    'KEBUMEN': {'latitude': -7.6775, 'longitude': 109.6526},
    'KENDAL': {'latitude': -6.9240, 'longitude': 110.2055},
    'KLATEN': {'latitude': -7.7114, 'longitude': 110.6069},
    'KUDUS': {'latitude': -6.8048, 'longitude': 110.8405},
    'MAGELANG': {'latitude': -7.4717, 'longitude': 110.2176},
    'MAGELANG KOTA': {'latitude': -7.4664, 'longitude': 110.2177},
    'PATI': {'latitude': -6.7528, 'longitude': 111.0388},
    'PEMALANG': {'latitude': -6.8915, 'longitude': 109.3797},
    'PEKALONGAN': {'latitude': -6.8889, 'longitude': 109.6756},
    'PEKALONGAN KOTA': {'latitude': -6.8896, 'longitude': 109.6745},
    'PURBALINGGA': {'latitude': -7.3989, 'longitude': 109.3636},
    'PURWOREJO': {'latitude': -7.7404, 'longitude': 110.0031},
    'REMBANG': {'latitude': -6.7087, 'longitude': 111.4500},
    'SALATIGA': {'latitude': -7.3305, 'longitude': 110.5084},
    'SEMARANG': {'latitude': -7.1500, 'longitude': 110.4008},
    'SEMARANG KOTA': {'latitude': -6.9667, 'longitude': 110.4167},
    'SRAGEN': {'latitude': -7.4264, 'longitude': 110.8160},
    'SUKOHARJO': {'latitude': -7.6833, 'longitude': 110.8333},
    'SURAKARTA': {'latitude': -7.5666, 'longitude': 110.8165},
    'KOTA SURAKARTA': {'latitude': -7.5666, 'longitude': 110.8165},
    'TEGAL': {'latitude': -6.8797, 'longitude': 109.1256},
    'TEGAL KOTA': {'latitude': -6.8697, 'longitude': 109.1425},
    'TEMANGGUNG': {'latitude': -7.3100, 'longitude': 110.1605},
    'WONOGIRI': {'latitude': -7.8700, 'longitude': 110.9247},
    'WONOSOBO': {'latitude': -7.3610, 'longitude': 109.9007},
}

In [95]:
df['latitude'] = df['KAB_KOTA'].map(lambda x: geo_data[x]['latitude'] if x in geo_data else np.nan)
df['longitude'] = df['KAB_KOTA'].map(lambda x: geo_data[x]['longitude'] if x in geo_data else np.nan)

In [96]:
df.head()

,DIAJUKAN_DI,KAB_KOTA,KECAMATAN,KODE_CIDERA,PROFESI,KARAKTERISTIK LAKA,DATE_TIME,JENIS_KENDARAAN,latitude,longitude
0,PERWAKILAN PATI,PATI,PATI,LUKA-LUKA,WIRASWASTA,BERUNTUN/GANDA,2023-01-02 06:30:00,MOTOR,-6.7528,111.0388
1,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,MENINGGAL DUNIA,WIRASWASTA,DEPAN-DEPAN,2023-01-07 21:00:00,MOTOR,-7.3610,109.9007
2,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,LUKA-LUKA,WIRASWASTA,PEJALAN-KAKI/SEJENISNYA,2023-01-07 21:00:00,MOBIL,-7.3610,109.9007
3,PERWAKILAN MAGELANG,WONOSOBO,WONOSOBO,MENINGGAL DUNIA,TNI POLRI,DEPAN-SAMPING,2023-01-20 05:00:00,MOTOR,-7.3610,109.9007
4,PERWAKILAN MAGELANG,TEMANGGUNG,TEMANGGUNG,MENINGGAL DUNIA,WIRASWASTA,DEPAN-DEPAN,2023-01-24 02:30:00,MOTOR,-7.3100,110.1605

In [97]:
df.to_csv('dataset_laka.csv', index=False)